{% extends 'api-layout.html' %}

{% block pageTitle %}Index{% endblock %}

{% block main %}
<h2>FreeCodeCamp API projects</h2>
<p>These are my versions of the <a href="https://www.freecodecamp.com/">FreeCodeCamp</a> API projects. You can view each project through the link in the navigation.</p>

<h3>GitHub</h3>
<p>The <a href="https://github.com/systimotic/fcc-projects">source of this website</a> is on GitHub. Feel free to open issue if you have feedback!</p>

<h3>Colophon</h3>
<p>This website runs on Heroku. There are two MongoDB databases hosted on mLab.</p>
<p>Each project is built from a FreeCodeCamp challenge. The design is also inspired by / copied from FreeCodeCamp.</p>
{% endblock %}
